@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

:root {
  --color-bg: #000;
  --color-primary: #d3c423;
  --color-text: #fff;
  --color-secondary: #999;
  --radius: 14px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Segoe UI', sans-serif;
  padding-bottom: 80px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
